:root{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;padding: 0;
}
header{
    padding: 42.5vh 0;
    text-align: center;
    background-color: #325288;
}
header h1{
    font-size: 6vh;

}